.dropdown {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;

  line-height: $base-line-height;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $dropdown-color: $base-font-color;
  $dropdown-description-color: lighten($dropdown-color, 40%);
  $dropdown-border: 1px solid $highlight;
  $dropdown-background: $base-background-color;
  $dropdown-background-hover: darken($dropdown-background, 3%);
  $dropdown-inner-border: 1px solid $highlight;
  $dropdown-height: 40px;
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 5.15rem;
  $dropdown-arrow-top-distance: 0.5rem;

  .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: center;
  	margin-top: 1.01rem;
  }

  .dropdown-button {
    background: $dropdown-background;
    border-radius: 0;
    border: $dropdown-border;
    cursor: pointer;
    float: right;
		font-family: $font-medium;
		font-size: 1.6rem;
    line-height: $dropdown-height;
    margin: 1.4rem 0 0.6rem 0;
    padding: 0.6rem 1.6rem 0.6rem 0.2rem;
    width: 14.6rem;
    position: relative;
    color: $highlight;
  }

  .dropdown-button:hover {
    background-color: $dropdown-background-hover;
  }

  .dropdown-button:after {
    color: $highlight;
    content: "\25BE";
    display: block;
    position: absolute;
    right: $dropdown-padding;
    top: $dropdown-arrow-top-distance;
  }

  .dropdown-menu {
    @include transition (all 0.2s ease-in-out);
    background: $dropdown-background;
    border-radius: 0;
    border: $dropdown-border;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $body-light;
    cursor: pointer;
    display: none;
    overflow: show;
    position: absolute;
    right: 0;
    top: $dropdown-distance-from-menu;
    width: 14.6rem;
    z-index: 99999;


  }

  .dropdown-menu li {
    border-bottom: $dropdown-inner-border;
    color: $body-light;
    padding: $dropdown-padding / 2;
  }

  .dropdown-menu li:hover {
    background: $dropdown-background-hover;
  }

  .dropdown-menu li:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .dropdown-menu li:last-child {
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .show-menu {
    display: block;
  }
}
// Inspired by code by www.HUSAMUI.com
