%div.dropdown
  %div.dropdown-container
    %p.dropdown-button Download
    %ul.dropdown-menu.dropdown-select.gs-action
      %li#gs-download Download as Excel File
      %li#gs-view View as Google Spreadsheet
      %li#gs-clone Copy to your Google Drive
